*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #3498db;
}

.nav h1{
    margin-bottom: 5px;
}


.conatiner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(161, 39, 254);
}

.btn-download{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 15px 15px;
    border: none;
    width: 140px;
    height: 40px;
    padding: 8px;
    font-size: 20px;
    background: #fff;
    color: #000;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.8s;
}

.btn-download:hover{
    color: rgb(137, 55, 225);
    background-color: #ecd8d8;
}

.btn-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all .8s;
}

.btn-download i{
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all .8s;
}

.btn-download:hover i{
    top: 50%;
}

.btn-download:hover .btn-text{
    top: -200%;
}


.loader {
    border: 4px solid #931dcee5;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}